* {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  background-image: url("../images/ep_naturalwhite.png");
  padding: 0;
  margin: 0;
}

/******Header******/
#myNavbar a:hover {
  color: #4aaaa5;
}

/******Main Content******/
h1 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.main-content {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #777777;
  margin: 2em;
  padding: 2em;
}

#profile-pic {
  margin: auto;
}

.about-line {
  height: 2px;
  width: 97%;
  background-color: #dddddd;
  margin-bottom: 1em;
  }


/******Portfolio Images******/
.img-div {
  position: relative;
  width: 100%;
  }

.img-div h2 {
  position: absolute;
  padding: 1em;
  background-color: #4aaaa5;
  color: #fff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1.2em;
  top: 128px;
  left: 16px;
  width: 11em;
  text-align: center;
  }

.img-div2 h2 {
  position: absolute;
  padding: 1em;
  background-color: #4aaaa5;
  color: #fff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1.2em;
  top: 353px;
  left: 427px;
  width: 11em;
  text-align: center;
  }

.img-div3 h2 {
  position: absolute;
  padding: 1em;
  background-color: #4aaaa5;
  color: #fff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1.2em;
  top: 590px;
  left: 145px;
  width: 11em;
  text-align: center;
  }

.img-div4 h2 {
  position: absolute;
  padding: 1em;
  background-color: #4aaaa5;
  color: #fff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1.2em;
  top: 590px;
  left: 427px;
  width: 11em;
  text-align: center;
  }

.img-div5 h2 {
  position: absolute;
  padding: 1em;
  background-color: #4aaaa5;
  color: #fff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1.2em;
  top: 825px;
  left: 145px;
  width: 11em;
  text-align: center;
  }

.port-img {
  width: 250px;
  height: 190px;
  margin: 1.5em 1em;
  float: left;
  }

.main-port {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #777777;
  width: 36em;
  margin-left: 7em;
  overflow: auto;
  float: left;
  padding: 1em;
  margin-bottom: 2em;
  }

/******Connect Page******/
.btn {
background-color: #4aaaa5;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 1em;
border-radius: 10%;
}


/******Side Bar******/
.connect-box{
  background-color: #ffffff;
  border: 1px solid #dddddd;
  font-size: .75em;
  text-align: center;
  margin: 2em;
  text-align: left;
  padding: 2em;
  }

.social-icon {
  max-width: 60px;
  max-width: 60px;
  }

.connect-line {
  height: 2px;
  width: 97%;
  background-color: #dddddd;
  margin-bottom: 1em;
  }

/******Footer******/
footer {
  background-color: #666666;
  height: 10em;
  line-height: 10em;
  text-align: center;
  font-size: 0.75em;
  color: #ddd;
  border-top: 7px solid #4aaaa5;
  }
